<div class="sidebar-container" [class.sidebar-is-mobile]="sidebarQuery.matches">
  <mat-toolbar color="primary" class="sidebar-toolbar">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      </div>
      <div class="col-xs-12 col-md-6">
        <h1 class="sidebar-app-name">Daily Expense Manager</h1>
      </div>
      <div class="col-xs-12 col-md-4" *ngIf="user">
        <p style="text-align: right;">
          <span class="spacer"></span>
          <button mat-raised-button color="primary" (click)="openDialog()">Add Transaction</button>
          <button mat-icon-button (click)="authService.SignOut()">
              <mat-icon class="mat-18" >logout</mat-icon>
          </button>
        </p>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidebar-sidenav-container" [style.marginTop.px]="sidebarQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="sidebarQuery.matches ? 'over' : 'side'" [fixedInViewport]="sidebarQuery.matches" fixedTopGap="56">
      <mat-nav-list *ngIf="authService.userData">
        <a mat-list-item class="nav-link" routerLink="/profile">Profile</a>
        <a mat-list-item class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a mat-list-item class="nav-link" routerLink="/transactions">Transactions</a>
        <!-- <a mat-list-item class="nav-link" routerLink="/category">Category</a> -->
        <a mat-list-item class="nav-link" routerLink="/report">Report</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="container-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
