<div class="card-balance">

  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>My Wallet</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-grid-list cols="12">
      <mat-grid-tile colspan="2">
        <img mat-card-sm-image class="img-history" src=".\assets\iconsImg\wallet.png" alt="" >
      </mat-grid-tile>
      <mat-grid-tile colspan="5">
        <mat-card-content>
          <h2><strong>Balance</strong></h2>
        </mat-card-content>
      </mat-grid-tile>
      <mat-grid-tile colspan="5">
        <mat-card-content>
          <h2>Rp {{userBalance|currency:'IDR':''}}</h2>
        </mat-card-content>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
