.mat-drawer-container{
    height: 100%;
}

.mat-drawer-side{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.mat-drawer-opened{
    width: 15rem;
}

.mat-drawer-content{
    background-color: whitesmoke;
}