<div class="container">
    <div class="header">    
        <span class="date">{{date}}</span>
        <div>
            <div class="day">{{day}}</div>
            <div class="month">{{month}}</div>
        </div>
        <span class="balance">{{balance | rupiahPipe}}</span>
    </div>
    <hr>
    <div class="list">
        <div class="transaction-details" *ngFor="let transaction of transactions">
            <app-icon [width]="60" [height]="60" [icon]="transaction.category"></app-icon>
            <div>
                <div class="category">{{transaction.category}}</div>
                <div class="desc">{{transaction.description}}</div>
            </div>
            <span class="amount" [ngClass]="transaction.amount < 0 ? 'expense' : 'income'">{{transaction.amount | rupiahPipe}}</span>
        </div>
    </div>
</div>
