<ng-container *ngIf="type != 'date'; else inputDate">
    <mat-form-field [appearance]="appearance">
        <mat-label>{{label}}</mat-label>
        <input matInput [type]="type" [min]="min" [value]="value" [placeholder]="placeholder">
    </mat-form-field>
</ng-container>

<ng-template #inputDate>
    <mat-form-field [appearance]="appearance">
        <mat-label>{{label}}</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</ng-template>

