<div class="container-fluid">
  <app-card-balance [userBalance]="userBalance"></app-card-balance>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <span>Spending Report</span>
    </div>
    <div class="col-xs-12 col-md-6" style="float: right;">
      <span><p style="text-align: right;"><a href="/report">More...</a></p></span>
    </div>
  </div>
  <app-chart-in-out [loadTxn]="txnThisMonth"></app-chart-in-out>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <span>Recent Transactions</span>
    </div>
    <div class="col-xs-12 col-md-6" style="float: right;">
      <span><p style="text-align: right;"><a href="/transactions">See All</a></p></span>
    </div>
  </div>
  <div *ngFor="let txn of recentTxn">
    <app-card [txn]="txn"></app-card>
  </div>
</div>
